.favorites-container {
  height: 80vh;
  display: grid;
  max-width: 1000px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  padding: 50px;
  animation: fadeIn 1s forwards;
}

.image-container {
  width: 300px;
}

.no-tracked {
  height: 73vh;
  padding-top: 50px;
  animation: fadeIn 1s forwards;
}

@media (max-width: 1350px) {
  .favorites-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}