.favorites-container {
  height: 80vh;
  display: grid;
  max-width: 1000px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  padding: 50px;
}

.image-container {
  width: 300px;
}

.no-tracked{
  height: 70vh;
}
