.selected-art-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selected-art-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selected-art-image {
    width: 30%;
}