.footer {
  display: flex;
  height: 10vh;
  width: 96%;
  justify-content: space-between;
  align-items: center;
}

.footer-container, .repo {
  font-size: 13px;
  max-width: 360px;
}

.repo-link {
  text-decoration: none;
  color: #000000;
}