.art-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.art-card-img {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.selected-art-link {
  text-decoration: inherit;
  color: inherit;
}

.favorite-btn {
  bottom: 0;
  position: absolute;
	right: 0;
  margin-bottom: 15px;
  margin-right: 10px;
}
