.art-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.art-card-img {
  height: 100%;
  width: 200px;
}

.selected-art-link {
  text-decoration: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.art-title {
  max-width: 75%;
}