.art-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.art-card-img {
  display: flex;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.image-container {
  position: relative;
}

.selected-art-link {
  text-decoration: inherit;
  color: inherit;
}

.favorite-btn {
  bottom: 0;
  position: absolute;
	right: 0;
  margin-bottom: 15px;
  margin-right: 10px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}